{% extends 'template.html' %}

{% block head %}
    {% include 'head.html' %}
{% endblock %}

{% block style1 %}
    {% include 'important.html' %}
{% endblock %}


{% block content %}
    {% include 'dateScale.html' %}
{% endblock %}

{% block scale %}
    {% include 'dateScale.js' %}
{% endblock %}

{% block columns %}
    {% include 'columns.js' %}
{% endblock %}

{% block lightbox %}
    {% include 'lightbox.js' %}
{% endblock %}

{% block constraints %}
    {% include 'constraints.js' %}
{% endblock %}


{% block tooltip %}
    {% include 'tooltip.js' %}
{% endblock %}




